
.toaster{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: white;
    border-radius: 20px;
    padding: 10px 5rem;
    display: none;
}
.toaster i{
    position: absolute;
    top: 15px;
    left: 70px;
    color: red;
}
.rmv-all{
    display: none;
}